<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>http请求</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/foundation/foundation.min.css">
</head>
<body style="padding: 10px;" ng-app="app">
<div>
    <!--<hello></hello>-->
    <div class="hello"></div>
</div>
</body>
<script src="../../js/angularJS/angular.min.js"></script>
<script src="app.js"></script>
</html>